    html {height: 115%}    
    h1 { 
        text-align: center; 
        font-family: 'Dancing Script', cursive; 
        font-size: 50px;
    }

    #note {
        text-align: center;
        font-family: 'Dancing Script', cursive; 
        margin-bottom: 0px;
        margin-bottom: 0px;
    }

    body {
        background-color: #e999b0;
        padding: 50px;
        font-size: 16px;
        background-image: url('images/background.jpg'); 
        background-size: 100%100%;
        background-repeat: no-repeat;
    }

    p {
            padding-left: 50px;
            padding-right: 25px;
            text-align: center;
            border-style: none;
            border-color: rgb(240, 248, 255, 0.2); 
            background: rgb(238, 226, 228, 0.5);  
            border-radius: 10px;
        }

    hr {
        border: 1px solid #eabcc1;
    }
    
    blockquote {
        font-family: 'Dancing Script', cursive;
        font-size:  40px;
        color: #180227;;
        text-align: center;
        border-bottom: none;
        padding:0px
    }

    #profile {
       border-radius: 2px;
       float: left; 
       border-style: groove;
       border-color: blanchedalmond;
    }

    header {
        text-align: right;
    }

    ul {
        list-style: square;
        list-style-position: inside;
        padding-right: 25px;
        text-align: center;
        border-style: dashed;
        border-color: rgb(240, 248, 255, 0.2); 
        background: rgb(238, 226, 228, 0.5);
        margin-top: 0%;
        padding-top: 0px;
    }

    #kotowa {
        height: 200px;
        width: 200px;
        border-radius: 25px;
        display:flex;
        margin-left: auto;
        margin-right: auto;-->
        color: rgb(1, 1, 9);
    }

    #footnote {
        text-align: center;
        color: rgb(1, 1, 9);
    }

    #third {
        height: 300px;
        width: 500 px;
        display:flex;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
    }

    #next, #back {
        text-align: left;
        color:#cf939a;
    }